/*
 * Licensed to Marvelution under one or more contributor license 
 * agreements.  See the NOTICE file distributed with this work 
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/

/* Status Gadgets */
.build-result {
	padding: 0.5em;
	text-align: left;
	margin: 10px;
	position: relative;
}

.build-info {
	font-size: 1.4em;
	font-weight: bolder;
}

.build-details {
	font-size: 1em;
}

.build-details a,
.build-details a:link,
.build-details a:visited {
	text-decoration: underline;
}

.build-details a:hover {
	text-decoration: none;
}

.build-result-success,
.build-result-failure,
.build-result-unstable,
.build-result-not_build,
.build-result-aborted {
	
}

.build-result-success {
	border: 1px solid #339933;
	background-color: #E4F5E3;
}

.build-result-success,
.build-result-success a,
.build-result-success a:link,
.build-result-success a:visited,
.build-result-success a:hover {
	color: #339933;
}

.build-result-failure {
	border: 1px solid #CC3333;
	background-color: #FFE6E7;
}

.build-result-failure,
.build-result-failure a,
.build-result-failure a:link,
.build-result-failure a:visited,
.build-result-failure a:hover {
	color: #CC3333;
}

.build-result-unstable {
	border: 1px solid #FEB738;
	background-color: #FFFFCC;
}

.build-result-unstable,
.build-result-unstable a,
.build-result-unstable a:link,
.build-result-unstable a:visited,
.build-result-unstable a:hover {
	color: #FEB738;
}

.build-result-aborted,
.build-result-not_build {
	border: 1px solid #666666;
	background-color: #F2F2F2;
}

.build-result-aborted,
.build-result-aborted a,
.build-result-aborted a:link,
.build-result-aborted a:visited,
.build-result-aborted a:hover,
.build-result-not_build,
.build-result-not_build a,
.build-result-not_build a:link,
.build-result-not_build a:visited,
.build-result-not_build a:hover {
	color: #666666;
}
