#if ($viewMode)
<p>
    <table cellpadding=0 cellspacing=0 border=0 bgcolor=bbbbbb width="100%" align="center">
        <tr><td>
            <table cellpadding=3 cellspacing=1 border=0 width="100%">
                <tr>
                    <td bgcolor=f0f0f0 colspan=2>
                        <h3 class="formtitle">Hudson Server Settings</h3>
                    </td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td valign="top" width="40%">&nbsp;&nbsp;<b>Server name</b></td>
                    <td valign="top" width="60%">$!serverName</td>
                </tr>
                <tr bgcolor="#fffff0">
                    <td valign="top">&nbsp;&nbsp;<b>Host</b></td>
                    <td valign="top">$!host</td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td valign="top">&nbsp;&nbsp;<b>Username</b></td>
                    <td valign="top">$!username</td>
                </tr>
            </table>
        </td></tr>
    </table>
</p>
<p>
    <table align="center" bgcolor="#bbbbbb" border="0" cellpadding="0" cellspacing="0" width="100%">
    	<tr>
    		<td>
		        <table border="0" cellpadding="3" cellspacing="1" width=100%>
		            <tr bgcolor="f0f0f0">
		                <td class="colHeaderLink" colspan="2" align="center">
		                    <a href="ConfigureHudson!edit.jspa"><b>Edit Configuration</b></a> | <a href="ConfigureHudson!delete.jspa"><b>Delete Hudson Server</b></a>
		                </td>
		            </tr>
		        </table>
    		</td>
    	</tr>
    </table>
</p>
#else
<table class="jiraform maxWidth">
    <tbody>
        <tr>
            <td colspan="2" class="jiraformheader">
                <h3 class="formtitle">Configure Hudson Server</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="jiraformheader">Enter your Hudson server details here.</td>
        </tr>
        <form action="ConfigureHudson.jspa" name="jiraform" method="post">
        <tr>
            <td class="fieldLabelArea">Server name:</td>
            <td bgcolor="ffffff" class="fieldValueArea">
                <input type="text" name="serverName" label="Server Name" value="$!serverName" />
            </td>
        </tr>
        <tr>
            <td class="fieldLabelArea">Host Url:</td>
            <td bgcolor="ffffff" class="fieldValueArea">
                <input type="text" name="host" label="Host" value="$!host" />
                <br /><font size="1">The url of your Hudson instance e.g. <i>http://myserver/hudson</i>.</font>
            </td>
        </tr>
        <tr>
            <td class="fieldLabelArea">Username:</td>
            <td bgcolor="ffffff" class="fieldValueArea">
                <input type="text" name="username" label="username" value="$!username" />
            </td>
        </tr>
        <tr>
            <td class="fieldLabelArea">Password:</td>
            <td bgcolor="ffffff" class="fieldValueArea">
                <input type="password" name="password" label="password" value="$!password" />
            </td>
        </tr>
        <tr>
            <tr>
                <td colspan="2" class="fullyCentered jiraformfooter">
                    <input type="submit" name="Update" value="Update" accesskey="S" title="Press Alt+S to submit form" class="spaced" />
                    <input id="cancelButton" type="button" accesskey="`" title="Cancel (Alt + `)" name="ViewHudsonServer.jspa" value="Cancel" onclick="location.href='ConfigureHudson!view.jspa'" />
                </td>
            </tr>
        </tr>
        </form>
        #if ($action.hasAnyErrors())
        <tr>
            <td colspan="2" class="formErrors">
                <div class="errorArea">
                    <h4>Errors</h4>
                    <ul>
                        #foreach ($error in $action.getErrorMessages())
                        <li>$error</li>
                        #end
                        #foreach ($error in $action.errors)
                        <li>$error</li>
                        #end
                    </ul>
                </div>
            </td>
        </tr>
        #end
    </tbody>
</table>
#end