## Licensed to Marvelution under one or more contributor license 
## agreements.  See the NOTICE file distributed with this work 
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.

#set($i18n=$action)
<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="UpdateHudsonServer.jspa">
    <input type="hidden" name="hudsonServerId" value="${hudsonServerId}" />
    <input type="hidden" name="id" value="${id}" />
    <input type="hidden" name="associatedProjectKeys" value="${associatedProjectKeys}" />
<table class="jiraform maxWidth">
    <tbody>
        <tr>
            <td colspan="2" class="jiraformheader">
            	<h3 class="formtitle">
					<img src="${req.contextPath}/download/resources/com.marvelution.jira.plugins.hudson:hudson-servers/images/hudson-icon-24.png" align="absmiddle" border="0" height="24" width="24" />
					$i18n.getText("hudson.config.server.update.title")
				</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="jiraformheader">$i18n.getText("hudson.config.server.update.description")</td>
        </tr>
        #if ($action.hasAnyErrors())
        <tr>
            <td colspan="2" class="formErrors">
                <div class="errorArea">
                    <h4>Errors</h4>
                    <ul>
                        #foreach ($error in $action.getErrorMessages())
                        <li>$error</li>
                        #end
                        #foreach ($error in $action.errors)
                        <li>$error</li>
                        #end
                    </ul>
                </div>
            </td>
        </tr>
        #end
        <tr>
            <td class="fieldLabelArea">$i18n.getText("hudson.config.server-name.label"):</td>
            <td bgcolor="#ffffff" class="fieldValueArea">
                <input type="text" name="name" label="$i18n.getText("hudson.config.server-name.label")" value="$!name" />
                <br /><font size="1">$i18n.getText("hudson.config.server-name.hint")</font>
            </td>
        </tr>
        <tr>
            <td class="fieldLabelArea">$i18n.getText("common.words.description"):</td>
            <td bgcolor="#ffffff" class="fieldValueArea">
                <input type="text" size="60" name="description" label="$i18n.getText("common.words.description")" value="$!description" />
            </td>
        </tr>
        <tr>
            <td class="fieldLabelArea">$i18n.getText("hudson.config.host.label"):</td>
            <td bgcolor="#ffffff" class="fieldValueArea">
                <input type="text" name="host" label="$i18n.getText("hudson.config.host.label")" value="$!host" />
                <br /><font size="1">$i18n.getText("hudson.config.host.hint")</font>
            </td>
        </tr>
        <tr>
            <td class="fieldLabelArea">$i18n.getText("common.words.username"):</td>
            <td bgcolor="#ffffff" class="fieldValueArea">
                <input type="text" name="username" label="$i18n.getText("common.words.username")" value="$!username" />
                <br /><font size="1">$i18n.getText("hudson.config.username.hint")</font>
            </td>
        </tr>
        <tr>
            <td class="fieldLabelArea">$i18n.getText("common.words.password"):</td>
            <td bgcolor="#ffffff" class="fieldValueArea">
                <input type="password" name="password" label="$i18n.getText("common.words.password")" value="$!password" />
                <br /><font size="1">$i18n.getText("hudson.config.password.hint")</font>
            </td>
        </tr>
        <tr>
            <tr>
                <td colspan="2" class="fullyCentered jiraformfooter">
                    <input type="submit" id=" Update " name=" Update " value=" $i18n.getText("common.forms.update") "
                    		accesskey="S" title="Press Alt+S to submit form" class="spaced" />
                    <input type="button" id="cancelButton" accesskey="`" title="$i18n.getText("common.forms.cancel") (Alt + `)"
                           name="ViewHudsonServers.jspa" value="$i18n.getText("common.forms.cancel")" 
                           onclick="location.href='ViewHudsonServers.jspa'" />
                </td>
            </tr>
        </tr>
    </tbody>
</table>
</form>
