## Licensed to Marvelution under one or more contributor license 
## agreements.  See the NOTICE file distributed with this work 
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.

#if ($foundBuilds)
#foreach ($build in $builds)
<table class="hudsonBuildTable maxWidth">
	<tr>
		<td rowspan="6" width="30px" valign="top"><img src="$server.host/images/24x24/${build.result.icon}" alt="${build.result.name()}" tooltip="${build.result.name()}" /></td>
		<td><a href="${server.host}/job/${build.jobName}/">${build.jobName}</a> &raquo; <a href="${server.host}/job/${build.jobName}/${build.number}">${i18n.getText("hudson.panel.build.number", ${build.number})}</a></td>
		<td>
			<strong>${i18n.getText("hudson.panel.build.duration")}</strong>: ${dateTimeUtils.getTimeSpanString(${build.duration})} | 
			<strong>${i18n.getText("hudson.panel.build.health")}</strong>: <img src="${server.host}/images/16x16/${build.healthReport.icon}" align="absmiddle" tooltip="${build.healthReport.score}%" alt="${build.healthReport.score}%" /> $!{build.healthReport.description}
		</td>
		<td rowspan="6" valign="top" align="right">${dateTimeUtils.getTimeSpanString(${dateTimeUtils.getTimePastSince(${build.timestamp})})}</td>
	</tr>
	<tr>
		<td>
			<strong>${i18n.getText("hudson.panel.related.issues")}</strong>: #if ($build.relatedIssueKeys.isEmpty()) ${i18n.getText("hudson.panel.no.related.issues")} #end
			#foreach ($issueKey in $build.relatedIssueKeys) #if ($velocityCount > 0) | #end <a href="/browse/${issueKey}">${issueKey}</a>#end
		</td>
		<td rowspan="4" valign="top">
			<strong>${i18n.getText("hudson.panel.build.tests")}</strong>: 
			#if (${build.testResult})
			${i18n.getText("hudson.panel.build.tests.total")} ${build.testResult.total}
			${i18n.getText("hudson.panel.build.tests.passed")} ${build.testResult.passed}
			${i18n.getText("hudson.panel.build.tests.failed")} ${build.testResult.failed}
			${i18n.getText("hudson.panel.build.tests.skipped")} ${build.testResult.skipped}
			#else
			${i18n.getText("hudson.panel.build.no.test.results")}
			#end
		</td>
	</tr>
	<tr>
		<td>
			<strong>${i18n.getText("hudson.panel.build.artifacts")}</strong>: #if ($build.artifacts.isEmpty()) ${i18n.getText("hudson.panel.no.build.artifacts")} #end
			#foreach ($artifact in $build.arifacts) #if ($velocityCount > 0) | #end <a href="/browse/${issueKey}">${artifact}</a>#end
		</td>
	</tr>
	<tr>
		<td>
			<strong>${i18n.getText("hudson.panel.build.triggers")}</strong>:
			<ul class="square">
				#foreach ($trigger in $build.triggers)
				<li>${trigger}</li>
				#end
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<a href="${server.host}/job/${build.jobName}/${build.number}/console">${i18n.getText("hudson.panel.build.log.console")}</a> | 
			<a href="${server.host}/job/${build.jobName}/${build.number}/changes">${i18n.getText("hudson.panel.build.log.changes")}</a>
		</td>
	</tr>
</table>
<br>
#end
#else
${i18n.getText("hudson.panel.no.builds.found")}
#end