## Licensed to Marvelution under one or more contributor license 
## agreements.  See the NOTICE file distributed with this work 
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.

#if ($results.hasBuilds())
#foreach ($build in $results.builds)
#if ($buildUtils.isSuccessfulBuild($build))
#set($buildStyle = "successfulBuild")
#elseif ($buildUtils.isFailedBuild($build))
#set($buildStyle = "failedBuild")
#elseif ($buildUtils.isUnstableBuild($build))
#set($buildStyle = "unstableBuild")
#else
#set($buildStyle = "abortedOrNotBuild")
#end
#if ($velocityCount > 1)
<hr class="listSeperator">
<br>
#else
<br>
#end
<table class="hudsonBuildTable maxWidth">
	<tr>
		<td rowspan="4" width="40px" valign="top"><img src="${results.serverImageUrl}${build.result.icon}" alt="${build.result.name()}" tooltip="${build.result.name()}" /></td>
		<td width="70%" class="${buildStyle}" colspan="2"><a href="${results.serverUrl}/${build.jobUrl}">${build.jobName}</a> &raquo; <a href="${results.serverUrl}/${build.url}">${i18n.getText("hudson.panel.build.number", ${build.number})}</a></td>
		<td rowspan="4" valign="top" align="right">
			${dateTimeUtils.getPastTimeString(${build.timestamp})}<br />
			<strong>${i18n.getText("hudson.panel.build.duration")}</strong>: ${dateTimeUtils.getTimeSpanString(${build.duration})}
		</td>
	</tr>
	<tr>
		<td>
			<strong>${i18n.getText("hudson.panel.related.issues")}</strong>: #if ($build.relatedIssueKeys.isEmpty()) ${i18n.getText("hudson.panel.no.related.issues")} #end
			#foreach ($issueKey in $build.relatedIssueKeys) #if ($velocityCount > 1) | #end <a href="${req.contextPath}/browse/${issueKey}">${issueKey}</a>#end
		</td>
		<td valign="top">
			<strong>${i18n.getText("hudson.panel.build.tests")}</strong>: 
			#if (${build.testResult})
			${i18n.getText("hudson.panel.build.tests.total")}: ${build.testResult.total}, 
			${i18n.getText("hudson.panel.build.tests.passed")}: ${build.testResult.passed}, 
			${i18n.getText("hudson.panel.build.tests.failed")}: ${build.testResult.failed}, 
			${i18n.getText("hudson.panel.build.tests.skipped")}: ${build.testResult.skipped}
			#else
			${i18n.getText("hudson.panel.build.no.test.results")}
			#end
		</td>
	</tr>
	<tr>
		<td valign="top">
			<strong>${i18n.getText("hudson.panel.build.artifacts")}</strong>: #if ($build.artifacts.isEmpty()) ${i18n.getText("hudson.panel.no.build.artifacts")} #end
			<ul class="square">
				#foreach ($artifact in $build.artifacts)
				<li><a href="$results.serverUrl/$artifact.url">$artifact.name</a></li>
				#end
			</ul>
		</td>
		<td valign="top">
			<strong>${i18n.getText("hudson.panel.build.triggers")}</strong>:
			<ul class="square">
				#foreach ($trigger in $build.triggers)
				<li>${buildTriggerParser.parse(${trigger})}</li>
				#end
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="${results.serverUrl}/${build.url}console">${i18n.getText("hudson.panel.build.log.console")}</a> | 
			<a href="${results.serverUrl}/${build.url}changes">${i18n.getText("hudson.panel.build.log.changes")}</a>
		</td>
	</tr>
</table>
<script type="text/javascript" >
AJS.$("#showRssLink").show();
</script>
<br>
#end
#else
<ul class="errorList">
	<li>${i18n.getText("hudson.panel.no.builds.found")}</li>
</ul>
<script type="text/javascript" >
AJS.$("#showRssLink").hide();
</script>
#end