##
## Licensed to Marvelution under one or more contributor license
## agreements.  See the NOTICE file distributed with this work
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.
##
<head>
	<meta name="decorator" content="admin"/>
	<meta name="admin.active.section" content="admin_plugins_menu/hudson-section">
	<meta name="admin.active.tab" content="hudson_associations_administer">
</head>

<script type="text/javascript">
    function init()
    {
        document.title='$i18n.getText("hudson.associations.header.title")';
    }
    window.onload=init;
</script>

#set($i18n = $action)
<div class="jiraform maxWidth">
	<div class="jiraformheader">
		<h3 class="formtitle">
			$i18n.getText("hudson.associations.title")
		</h3>
		<br/>
		$i18n.getText("hudson.associations.description")<br />
		<img src="${req.contextPath}/images/icons/bullet_creme.gif" align="absmiddle" border="0" height="8" width="8">
		<b><a id="add_hudson_association" href="AddAssociation!default.jspa">$i18n.getText("hudson.associations.add.link")</a></b>
	</div>
	<div class="jiraformcontents">
		<table class="grid maxWidth">
			<tr>
				<th>$i18n.getText("hudson.associations.project")</th>
				<th>$i18n.getText("hudson.associations.details")</th>
				<th>$i18n.getText("common.words.operations")</th>
			</tr>
			#if( ${associations.isEmpty()} )
			<tr bgcolor="#FFF">
				<td colspan="4">
					$i18n.getText("hudson.associations.not.configured")
				</td>
			</tr>
			#else
			#foreach($association in $sorter.sort($associations, "jobName"))
			#set ($server = $serverManager.getServer($association.serverId))
			#set ($project = $projectManager.getProjectObj($association.projectId))
			#if ($velocityCount % 2 == 1)
				#set ($rowbgcolor = "#FFFFFF")
			#else
				#set ($rowbgcolor = "#FFFFF0")
			#end
			<tr bgcolor="$rowbgcolor">
				<td valign="top">
					<a href="${req.contextPath}/browse/${project.key}">${project.name}<a/>
				</td>
				<td valign="top">
					${server.name}: ${association.jobName}
				</td>
				<td align="left" valign="top">
					<a href="UpdateAssociation!default.jspa?associationId=${association.associationId}">$i18n.getText("common.forms.edit")</a>
					| <a href="DeleteAssociation!default.jspa?associationId=${association.associationId}">$i18n.getText("common.words.delete")</a>
				</td>
			</tr>
			#end
			#end
		</table>
	</div>
</div>
