##
## Licensed to Marvelution under one or more contributor license
## agreements.  See the NOTICE file distributed with this work
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.
##

#macro (fieldHeader $label $fieldName $required $errors)
#set ($extraStyle = "")
#if ($errors && $errors.containsKey($fieldName))
#set ($extraStyle = "formErrors")
<tr>
	<td class="fieldLabelArea formErrors">&nbsp;</td>
	<td class="fieldValueArea formErrors">
		<span class="errMsg">$errors.get($fieldName)</span>
	</td>
</tr>
#end
<tr>
	<td class="fieldLabelArea $extraStyle">
		$label
		#if ($required) <span class="icon icon-required"><span>(Required Field)</span></span> #end
	</td>
	<td class="fieldValueArea $extraStyle">
#end
#macro (fieldFooter $labelHint)
		#if ($labelHint) <div class="fieldDescription">$labelHint</div> #end
	</td>
</tr>
#end

$!webResourceManager.requireResourcesForContext("hudson-admin")

<head>
	<meta name="decorator" content="admin"/>
	#if ($action.useContextDecorator())
	<meta name="projectKey" content="${project.key}">
	<meta name="projectId" content="${context}">
	<meta name="admin.active.section" content="atl.jira.proj.config">
	<meta name="admin.active.tab" content="hudson_project_associations">
	#else
	<meta name="admin.active.section" content="admin_plugins_menu/hudson-section">
	<meta name="admin.active.tab" content="hudson_association_${actionType.type()}">
	#end
</head>

<script type="text/javascript">
    function init() {
        document.title='$i18n.getText("hudson.associations.${actionType.type()}.header.title")';
    }
    window.onload=init;
</script>

#set($i18n = $action)
<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="$actionType.formAction()">
<input type="hidden" name="context" value="${context}" />
#if ($action.useContextDecorator())
<input type="hidden" name="projectId" value="${context}" />
#end
#if ($associationId > 0)
<input type="hidden" name="associationId" value="${associationId}" />
#end
#if ($extraHiddenInput)
#foreach ($extra in $extraHiddenInput)
<input type="hidden" name="$extra.key" value="$extra.value" />
#end
#end
<table class="jiraform maxWidth">
<tbody>
	<tr class="titlerow">
		<td colspan="2" class="jiraformheader">
			<h3 class="formtitle">$i18n.getText("hudson.associations.${actionType.type()}.title")</h3>
		</td>
	</tr>
	<tr class="descriptionrow">
		<td colspan="2" class="jiraformheader">
			<div class="desc-wrap">$i18n.getText("hudson.associations.${actionType.type()}.description")</div>
		</td>
	</tr>
#fieldHeader ($i18n.getText("hudson.association.server.label") "hudsonId" true $action.errors)
<select size="1" name="hudsonId" id="hudsonId">
	<option value="">${i18n.getText("hudson.association.select.server")}</option>
	#foreach ($server in $sorter.sort($serverManager.getServers(), "name"))
	<option value="$server.ID" #if ($hudsonId == $server.ID) selected #end >$server.name</option>
	#end
</select>
#fieldFooter ($i18n.getText("hudson.association.server.hint"))
#if (!$action.useContextDecorator())
#fieldHeader ($i18n.getText("hudson.association.project.label") "projectId" true $action.errors)
<select size="1" name="projectId" id="projectId">
	<option value="">${i18n.getText("hudson.association.select.project")}</option>
	#foreach ($project in $sorter.sort($projectManager.getProjectObjects(), "name"))
	<option value="$project.id" #if ($projectId == $project.id) selected #end >$project.name</option>
	#end
</select>
#fieldFooter ($i18n.getText("hudson.association.project.hint"))
#end
#fieldHeader ($i18n.getText("hudson.association.jobname.label") "jobName" true $action.errors)
<select size="1" name="jobName" id="jobName">
	<option value="">${i18n.getText("hudson.association.select.jobname")}</option>
	#if ($jobOptions)
	#foreach ($jobOption in $jobOptions)
	<option value="$jobOption" #if ($jobOption.equals($jobName)) selected #end >$jobOption</option>
	#end
	#end
</select>
<img src="${req.contextPath}/images/icons/wait.gif" border="0" class="waiting-image" id="waitImage" style="display: none;" />
#fieldFooter ($i18n.getText("hudson.association.jobname.hint"))
<tr class="buttons-container">
	<td class="jiraformfooter">&nbsp;</td>
	<td colspan="1">
		<div class="aui-toolbar form-buttons noprint">
			<div class="toolbar-group">
				<span class="toolbar-item">
					<input type="submit" name=" $i18n.getText("hudson.associations.${actionType.type()}.label") "
						value=" $i18n.getText("hudson.associations.${actionType.type()}.label") " id="add_submit" accesskey="s"
						title="Press Ctrl+Alt+s to submit form" class="toolbar-trigger ">
				</span>
			</div>
			<div class="toolbar-group">
				<span class="toolbar-item toolbar-item-link">
					<input id="cancelButton" class="toolbar-trigger" type="button" accesskey="`"
						title="$i18n.getText("common.forms.cancel") (Ctrl+Alt + `)" name="AdministerAssociations.jspa"
						value="$i18n.getText("common.forms.cancel")" onclick="location.href='AdministerAssociations.jspa?context=${context}'">
				</span>
			</div>
		</div>
	</td>
</tr>
</tbody>
</table>
</form>
<script type="text/javascript">
function updateJobList() {
	jQuery('#jobName').attr("disabled", false);
	jQuery('#jobName').css("display", "none");
	jQuery('#waitImage').css("display", "block");
	jQuery.ajax({
		type: 'GET',
		dataType: 'json',
		url: '${req.contextPath}/rest/hudson/2.0/server/' + jQuery('#hudsonId').val() + '/listJobs',
		success: function(data) {
			var jobName = jQuery('#jobName');
			jobName.empty();
			if (data !== undefined) {
				jQuery(data).each(function() {
					jQuery('<option/>')
						.attr({value: this.name})
						.text(this.name)
						.appendTo(jobName);
				});
			}
			jQuery('#waitImage').css("display", "none");
			jQuery('#jobName').css("display", "block");
		}
	});
}
jQuery('#hudsonId').change(function() {
	updateJobList();
});
</script>
