## Licensed to Marvelution under one or more contributor license 
## agreements.  See the NOTICE file distributed with this work 
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.

#set($i18n=$action)
<table class="jiraform maxWidth">
	<tbody>
		<tr>
            <td class="jiraformheader">
				<h3 class="formtitle">
					<img src="${req.contextPath}/download/resources/com.marvelution.jira.plugins.hudson:hudson/images/hudson-icon-24.png" align="absmiddle" border="0" height="24" width="24" />
					$i18n.getText("hudson.config.server.associated-projects.title", ${name})
				</h3>
            </td>
        </tr>
		<tr>
			<td class="jiraformbody">
				<p>$i18n.getText("hudson.config.server.associated-projects.description")</p>
				<p>
					<img src="/images/icons/bullet_creme.gif" align="absmiddle" border="0" height="8" width="8">
					<b><a id="view_hudson_servers" href="AdministerHudson.jspa">$i18n.getText("hudson.config.server.return-to-server-list")</a></b>
				</p>
				<p>
					<img src="/images/icons/bullet_creme.gif" align="absmiddle" border="0" height="8" width="8">
					<b><a id="view_hudson_servers" href="UpdateHudsonServer!default.jspa?hudsonServerId=${hudsonServerId}">$i18n.getText("hudson.config.server.edit.hudson-server", ${name})</a></b>
				</p>
			</td>
		</tr>
	<tbody>
</table>

<script language="javascript">
function unselectList(list) {
	document.forms['jiraform'].elements[list].selectedIndex=-1;
}
</script>
<p>
<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="UpdateHudsonServerProjectAssociations.jspa">
    <input type="hidden" name="hudsonServerId" value="${hudsonServerId}" />
<table class="jiraform maxWidth">
    <tbody>
		<tr>
			<td class="jiraformheader" align="center"><b>$i18n.getText("hudson.config.associated-projects")</b></td>
			<td class="jiraformheader" width="10%">&nbsp;</td>
			<td class="jiraformheader" align="center"><b>$i18n.getText("hudson.config.available-projects")</b></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" class="fieldValueArea" valign="middle" align="center">
				<select multiple name="associatedProjectKeys" style="width: 100%;" size="10">
					#foreach ($project in $associatedProjects)
					<option value="${project.key}">${project.name}</option>
					#end
				</select>
			</td>
			<td bgcolor="#ffffff" class="fieldValueArea" valign="middle" align="center">
				<input type="image" src="${req.contextPath}/download/resources/com.marvelution.jira.plugins.hudson:hudson/images/add-one.png"
					name="addButton" value=" < " title="Add Project" style="margin: 5px; padding: 5px;"><br />
				<input type="image" src="${req.contextPath}/download/resources/com.marvelution.jira.plugins.hudson:hudson/images/add-all.png"
					name="addAllButton" value=" << " title="Add All Projects" style="margin: 5px; padding: 5px;"><br />
				<input type="image" src="${req.contextPath}/download/resources/com.marvelution.jira.plugins.hudson:hudson/images/remove-all.png" 
					name="removeAllButton" value=" >> " title="Remove All Projects" style="margin: 5px; padding: 5px;"><br />
				<input type="image" src="${req.contextPath}/download/resources/com.marvelution.jira.plugins.hudson:hudson/images/remove-one.png" 
					name="removeButton" value=" > " title="Remove Project" style="margin: 5px; padding: 5px;"><br />
			</td>
			<td bgcolor="#ffffff" class="fieldValueArea" valign="middle" align="center">
				<select multiple name="availableProjectKeys" style="width: 100%;" size="10">
					#foreach ($project in $availableProjects)
					<option value="${project.key}">${project.name}</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" class="fieldValueArea" align="center"><a href="javascript:unselectList('associatedProjectKeys')">unselect</a></td>
			<td bgcolor="#ffffff" class="fieldValueArea">&nbsp;</td>
			<td bgcolor="#ffffff" class="fieldValueArea" align="center"><a href="javascript:unselectList('availableProjectKeys')">unselect</a></td>
		</tr>
    </tbody>
</table>
</form>
</p>
